/* COLORS: 
GREY | 9: #212529 / 8: #343a40 
CYAN | 0: #e3fafc / 1: #c5f6fa / 3: #66d9e8 / 4: #3bc9db
*/
/* FONT-SIZE: 
3.052rem/48.83px | 2.441rem/39.06px | 1.953rem/31.25px |1.563rem/25.00px
1.25rem/20.00px | 1rem/16.00px | 0.8rem/12.80px | 0.64rem/10.24px | 0.512rem/8.19px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-position: inside; /* forces list style inside of parent container */
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  /* width: 960px; */
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  /* max-width: 80px; */
  /* height: 80px; */
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1848179050040022588/6029B87EDA147D5A879ABCB040C97AC7FE5F8425/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  background-repeat: no-repeat;
  display: block;
  object-fit: fill;
}

.main-nav {
  margin-top: 8px;
  width: 100%;
}

.main-nav li {
  padding: 2px;
  margin-right: 12px;
  display: inline-block;
  border-top: 1px solid #1098ad;
}

.main-nav:last-of-type li {
  margin-right: 16px;
}

.nav-link {
}

.nav-link a:link,
.nav-link a:visited {
  color: #1098ad;
}

.nav-link a:hover,
.nav-link a:active {
  color: purple;
}

.nav-infos {
}

.nav-download {
}

.nav-about-us {
}

/* PRODUCT PRESENTATION */

.product-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.product-description {
  background-color: #c5f6fa;
}

.product-presentation {
  display: flex;
  flex-direction: row;
  margin-bottom: 72px;
}

.presentation {
  /* height: 100%; */
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

.catchphrase {
  text-transform: uppercase;
  color: #212529;
  font-size: 31.25px;
  margin-bottom: 12px;
}

.p-presentation {
  flex: 1 1 0px;
  color: #343a40;
  font-weight: 400;
  font-size: 16px;
  align-self: center;
  justify-self: flex-start;
}

.get-started-btn {
  width: 50%;
  height: 20%;
  bottom: 0;
  right: 0;
  background-color: #0c8599;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-top: 16px;
  padding: 8px;
  border-color: #1098ad;
  border-bottom: 4px solid #0b7285;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: -1px 2px 2px #000;
  justify-self: flex-end;
  align-self: flex-end;
}

/* LVHA */
/* .get-started-btn:link,
.get-started-btn:visited {
} */

/* .get-started-btn:hover,
.get-started-btn:active {
  color: pink;
} */

.presentation-img {
  width: 44%;
  margin-right: 16px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 2px 2px 8px;
}

/* PURCHASE CONTAINER */

.purchase-container {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 25%;
  justify-content: space-between;
  width: 480px;
  align-self: center;
  box-shadow: 2px 2px 48px;
  border: 3px solid #000;
  border-radius: 2px;
}
.purchase-container-close-btn-svg {
  width: 18px;
  position: absolute;
  top: 0.75%;
  right: 0.75%;
  border: 1px solid;
}

.purchase-infos {
  background-color: #e3fafc;
}

.purchase-btn {
  border: none;
  border-top: 2px solid #087f5b;
}

.price-container {
  background-color: #e3fafc;
  line-height: 1.5;
  position: relative;
}

.border-top {
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75%;
}

.purchase-title {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 18px;
}

.sub-infos-ul {
  list-style-position: inside;
  list-style-type: none;
}

.sub-infos-ul li {
  line-height: 2;
}

.purchase-price {
  font-size: 20px;
  font-weight: 700;
}
.purchase-month-span {
  color: #343a40;
  font-size: 16px;
  font-weight: 400;
}

.check-icon {
  width: 25px;
  color: #248a4b;
}

/* INFOS CONTAINER */

.infos-container {
  display: flex;
  margin-bottom: 72px; /* 48 / 72 px ? */
  justify-content: space-around;
  border-top: 8px solid #3bc9db;
}

.performance-infos-container {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5;
  font-size: 16px;
}

.performance-infos-container:first-child {
  border-right: 1px solid #3bc9db;
}

.performance-infos-container:last-child {
  border-left: 1px solid #3bc9db;
}

.infos-icon-and-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  align-items: center;
}

.punch-title {
  text-transform: uppercase;
  font-size: 20px;
}

.infos-text {
  font-size: 14px;
  padding: 0 28px;
  margin: 0 auto;
}

span .performance-icons {
  width: 48px;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 1px 1px;
  stroke: #0b7285;
}

/* TESTIMONIAL SECTION */

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  row-gap: 18px;
  /* position: relative; */
}

.testimonial-container h2:first-child {
  justify-self: flex-start;
  align-self: flex-start;
  font-size: 32px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.testimonial {
  width: 30%;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  border-top: 18px solid #0b7285;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #e3fafc;
  background-color: #0c8599;
  position: relative;
}

.customer-infos {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 8px;
}

.profile-picture-testimonial {
  width: 72px;
  height: 72px;
  border: 1px solid #1098ad;
  border-radius: 50%;
}

.testimonial-customer-name {
  padding-left: 12px;
}

.testimonial-quote-icon {
  font-size: 36px;
  justify-self: flex-end;
  align-self: flex-start;
  position: absolute;
  top: 4px;
  right: 16px;
}

.testimonial p {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-style: italic;
  line-height: 1.25;
  padding: 16px;
  margin: 16px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #1098ad;
}

/* SHOW FEATURES BUTTONS */

.chevron-btn {
  width: 48px;
  background: none;
  border: none;
  position: absolute;
}

.chevron-btn-down {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.chevron-down {
  display: block;
  stroke: #0c8599;
}

.chevron-down:hover {
  transform: translateY(10px);
}

.chevron-btn-up {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.chevron-up {
  display: none;
  stroke: #e3fafc;
}

.chevron-up:hover {
  transform: translateY(-10px);
}

/* FEATURES CONTAINER */

.features-container {
  background-color: #0c8599;
  padding-top: 96px;
  margin-bottom: 36px;
  display: none; /*grid */
  align-items: center;
  position: relative;
}

.feature-infos {
  display: flex;
  gap: 4%;
  width: 84%;
}

.feature-1 {
  flex-direction: row;
}

.feature-2 {
  flex-direction: row-reverse;
}

.features-p-infos {
}

.feature-img {
  width: 32%;
}

.img-1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer {
  font-size: 12px;
  text-align: center;
}

/* TECHNICAL SPECS SECTION */

.technical-specs-section {
}
